// colors
$Primary-c: #0DFD10;
$Secondary-c: #00E4EC;
$M-Primary-c: #00EF7F;
$bg-c: #fafafa;
$shadow-c: #e2e2e2;
$text-c: #305C7C;

// Mobile view
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Calibri;
    button{
        cursor: pointer;
    }
}

body{
    width: 100%;
    background: $bg-c;
}

// header
header{
    background: white;
    width: 100%;
    height: fit-content;
    box-shadow: 0px 5px 30px 0px $shadow-c;
    padding: 15px 10px 15px 20px;
    position: sticky;
    top: 0;
    z-index: 100;
    div:first-child{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        position: absolute;
    }
    div:last-child{
        display: flex;
        justify-content: end;
        align-items: center;
    }
    img{
        padding: 0px 10px 0px 0px;
        cursor: pointer;
    }
    .menu-icon{
        height: 20px;
    }
    .logo{
        height: 40px;
    }
    .search-area{
        position: fixed;
        width: 100%;
        height: fit-content;
        margin: auto;
        visibility: hidden;
    }
    .search{
        background: #eeecec;
        border: none;
        width: 93%;
        left: 5%;
        right: auto;
        height: inherit;
        padding: 12px 30px 12px 35px;
        position: absolute;
        outline: none;
    }
    .search-overlay{
        position: absolute;
        height: 40px;
        left: 5%;
        padding: 12px;
    }
    .search-icon{
        background: $shadow-c;
        padding: 12px;
        border-radius: 8px;
        height: 40px;
    }
    .notification{
        height: 50px;
        padding: 12px;
    }
    .avatar{
        height: 40px;
        padding-right: 0;
    }
}

// container
.container{
    width: 100%;
    display: flex;
    flex-direction: row;
}

// left
.left{
    // background: white;
    // border-radius: 15px;
    // box-shadow: 0px 0px 50px 1px $shadow-c;
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 20px;
    z-index: 3;
    .menu{
        width: 100%;
        div{
            padding: 20px;
            border-radius: 10px;
            display: flex;
            flex-direction: row;
            align-items: center;
            font-size: 1.2em;
            cursor: pointer;
            transition: border 0.3s;
            img{
                height: 25px;
                padding-right: 20px;
            }
        }
    }
    .menu div:hover{
        background: #d8ffed;
        border-left: solid 10px $M-Primary-c;
        color: $M-Primary-c;
    }
    .menu div:nth-child(1):hover img{
        content: url('./images/home-green.png');
    }
    .menu div:nth-child(2):hover img{
        content: url('./images/explore-green.png');
    }
    .menu div:nth-child(3):hover img{
        content: url('./images/marketplace-green.png');
    }
    .menu div:nth-child(4):hover img{
        content: url('./images/setting-green.png');
    }
}

// right
.right{
    padding: 20px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    button{
        width: 100%;
        height: fit-content;
        padding: 10px 30px;
        background-color: $M-Primary-c;
        border: none;
        border-radius: 10px;
        color: white;
        font-size: 1em;
    }
}

// right and left aside
.right, .left{
    width: 25%;
    display: none;
}

// main
main{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 10px;

    .content-box{
        background: white;
        width: 95%;
        height: fit-content;
        padding: 30px;
        border-radius: 15px;
        box-shadow: 0px 0px 50px 1px $shadow-c;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 20px;
        .get-health{
            display: none;
        }
        p:nth-child(2){
            color: $text-c;
            font-size: 1.2em;
            font-weight: bold;
            text-align: center;
            padding-bottom: 10px;
        }
        p:nth-child(3){
            font-size: 0.9em;
            text-align: center;
            padding-bottom: 30px;
        }
        button{
            padding: 10px 30px;
            background-color: $M-Primary-c;
            border: none;
            border-radius: 10px;
            color: white;
            font-size: 1.5em;
        }
    }

    .section{
        width: 95%;
        p:first-child{
            text-align: left;
            width: 100%;
        }
    }

    .section-btn{
        display: flex;
        flex-direction: row;
        margin: auto;
        width: 100%;
        overflow-x: scroll;
        scrollbar-color: transparent;
        scrollbar-width: none;
        button{
            background: #ececec;
            color: rgb(78, 78, 78);
            border-radius: 50px;
            font-size: 1em;
            padding: 5px 20px;
            margin-right: 20px;
            width: fit-content;
            display: grid;
            grid-template-columns: auto auto;
            align-items: center;
            justify-items: center;
            img{
                width: 40px;
                padding-right: 10px;
            }
        }
    }

    .section-btn::-webkit-scrollbar{
        display: none;
    }

    .question{
        padding-left: 60px;

        .side-btn{
            width: fit-content;
            position: absolute;
            display: grid;
            margin: initial;
            grid-template-rows: auto auto auto;
            grid-row-gap: 10px;
            justify-items: center;
            align-self: baseline;
            left: 4%;

            img{
                width: 1.5em;
            }
            span{
                color: $M-Primary-c;
                font-size: 0.7em;
                font-weight: bold;
            }
        }

        p:nth-child(2){
            color: black;
            width: 100%;
            line-height: 1.5em;
            width: 95%;
            text-align: left;
            font-size: 1.2em;
            padding-bottom: 10px;
        }

        p:nth-child(3){
            color: grey;
            line-height: 1.5em;
            width: 95%;
            text-align: left;
            font-size: 1em;
        }

        .rule{
            width: 90%;
            color: $bg-c;
            margin-top: 20px;
        }

        .content-bottom{
            display: grid;
            grid-template-columns: auto auto;
            width: 95%;
            margin-top: 20px;
            color: grey;
            div{
                display: flex;
                align-items: center;
                justify-items: center;
                font-size: 0.8em;
                div{
                    padding-left: 10px;
                }
            }
            div:first-child{
                font-weight: bold;
                width: fit-content;
                justify-content: space-between;
                span:last-child{
                    color: $M-Primary-c;
                }
            }
            div:last-child{
                justify-content: space-around;
            }
            .user-img{
                width: 20px;
            }
        }
    }

    .telegram{
        div{
            background: #c0ebff;
            display: flex;
            flex-direction: column;
            height: fit-content;
            width: 100%;
            align-items: center;
            border-radius: 20px;
            padding: 30px;

            .telegram-icon{
                height: 80px;
                width: 80px;
            }

            p:nth-child(2){
                font-size: 1.2em;
                margin: auto;
                font-weight: bold;
                color: #29B6F6;
                margin-top: 10px;
                max-width: 250px;
            }
            button{
                background: #29B6F6;
                width: fit-content;
                padding: 15px 40px;
                font-size: 1.5em;
                font-weight: bold;
            }
        }
    }

}




// tablet view at 810px
@media screen and (min-width: 810px) {
    header{
        .search-area{
            width: 70%;
        }
        .search{
            width: 70%;
        }
    }
    main{
        .content-box{
            align-items: flex-start;
            .get-health{
                display: block;
                position: absolute;
                right: 50px;
            }
            p:nth-child(2), p:nth-child(3){
                text-align: left;
                width: 30%;
            }
        }
        .question{
            p, p:nth-child(2), p:nth-child(3){
                width: 100%;
                text-align: left;
            }
            .content-bottom{
                font-size: 1.4em;
                .user-img{
                    width: 30px;
                }
            }
        }
    }
}

// web medium view at 900px
@media screen and (min-width: 900px) {
    header{
        .search-area{
            visibility: visible;
        }
        .search-icon{
            display: none;
        }
    }
    .container{
        .right{
            width: 27%;
            display: flex;
            position: fixed;
            right: 20px;
            z-index: -3;
        }
    }
    main{
        width: 70%;
        margin-right: 15%;
        .content-box{
            .get-health{
                right: 40%;
            }
        }
        .section{
            position: fixed;;
            width: 25%;
            right: 30px;
            top: 140px;
            border-radius: 0px;
            font-size: 0.9em;
            padding: 10px;
            height: fit-content;
            padding: 15px 15px 30px 15px;
            z-index: -3;
            p, p:nth-child(3){
                padding: 10px 0px 20px 0px;
            }
        }
        .section-btn{
            display: grid;
            grid-template-columns: auto auto;
            grid-row-gap: 10px;
            width: 100%;
            height: fit-content;
            button{
                width: fit-content;
                height: fit-content;
                padding: 5px 10px;
                border-radius: 20px;
                align-items: center;
                flex-direction: row;
                img{
                    width: 15px;
                    padding: 0;
                }
            }
        }
    }
}

// web medium view at 1200px
@media screen and (min-width: 1200px) {
    main{
        width: 60%;
        margin-left: 20%;
        .content-box{
            .get-health{
                right: 30%;
            }
        }
        .question{
            .side-btn{
                left: 22%;
            }
        }
    }
    .container{
        .left{
            width: 20%;
            background: transparent;
            position: fixed;
        }
        .right{
            width: 20%;
            padding: 20px;
        }
        .section{
            width: 17%;
            right: 40px;
        }
    }

    header{
        .menu-icon{
            display: none;
        }
    }

    .container{
        .left{
            display: flex;
        }
    }
}